[Unit]
Description=uWSGI instance to serve livenessapp
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/reco/face_reco
Environment="PATH=/home/reco/face_reco/venv/bin"
ExecStart=/home/reco/face_reco/venv/bin/uwsgi --ini faceapp.ini

[Install]
WantedBy=multi-user.target