tensorflow
git+https://github.com/ipazc/mtcnn.git
deepface
mysql-connector-python
opencv-python
imgaug
flask
python-dotenv
gdown
dnspython
binaryornot
imagecorruptions
from-root
image-quality
joblib
tqdm
