<html>

<head>
    <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://raw.githubusercontent.com/eligrey/canvas-toBlob.js/master/canvas-toBlob.js"></script>  
    <script src="script/scripts.js"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='https://reco.filesdna.com/spoof_images/webcam-demo.css'>
    <title>Upload and Verify Images</title>

    <style>
        .headerText {color: red; 
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    margin-left: 15%;}
        .resultText {color: rgb(233, 97, 97);
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
        .buttonStart { border: 0;
                        background: none;
                        box-shadow: none;
                        border-radius: 0px;
                        background-color: blue;
                        position: relative;
                        margin-left: 55%;
                        width: 8em;
                        height: 2em;
                        color: wheat;}
        .buttonDelete { border: 0;
                        background: none;
                        box-shadow: none;
                        border-radius: 0px;
                        background-color: red;
                        position: relative;
                        margin-left: 10;
                        width: 6em;
                        height: 2em;
                        color: wheat;}
         .upForm {
             margin-left: 15%;
         } 

 
         .outer-container {
    border: 3px dotted black;
    width: 100%;
    height: 100%;
    text-align: left;
        }
    .inner-container {
        border: 1px solid black;
        display: inline-block;
        position: relative;
    }
    .video-overlay {
        position: absolute;
        left: 35%;
        top: 35%;
    }

    .video-overlay:hover {
        background: burlywood;
    }

    video {
        width: 100%;
        height: 100%;
        border: 2px solid black;
    }

    #container {position: relative;}

    .overlay {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 50%;
    }

    .invisible {display: none;}
    </style>

</head>

</head>

<body>

        <div class="camera">
            <video id="video">Video stream not available.</video>
            <button id="startbutton">Take photo</button> 
            <button id="startrecordbutton">Record video</button>
            <button id="stoprecordbutton">Stop record</button>
            <a id="downloadButton">
                Download Recorded Video
              </a>
          </div>
          <canvas id="canvas">
          </canvas>
          <div class="output">
            <img id="photo" alt="The screen capture will appear in this box."> 
            Enter ID: <input id="id" type="text" /><br>
            <b>Taken Pictures</b>: <p id="picTaken">0</p>

            <button onclick="submitTakenPictures(this)">Submit Taken Pictures</button>
          </div>
          <p id="log"></p>
          <h2>Preview</h2>
            <video id="preview" width="160" height="120" autoplay muted></video>
           
    <script>
          var formData = new FormData();
    var picturesTaken = 0;
        (function() {
  // The width and height of the captured photo. We will set the
  // width to the value defined here, but the height will be
  // calculated based on the aspect ratio of the input stream.

  var width = 320;    // We will scale the photo width to this
  var height = 0;     // This will be computed based on the input stream

  // |streaming| indicates whether or not we're currently streaming
  // video from the camera. Obviously, we start at false.

  var streaming = false;

  // The various HTML elements we need to configure or control. These
  // will be set by the startup() function.

  var video = null;
  var canvas = null;
  var photo = null;
  var startbutton = null;
  let preview = document.getElementById("preview");
    let recording = document.getElementById("video");
    let startButton = document.getElementById("startrecordbutton");
    let stopButton = document.getElementById("stoprecordbutton");
    let downloadButton = document.getElementById("downloadButton");
    let logElement = document.getElementById("log");
    let recordingTimeMS = 5000;

    function log(msg) {
  logElement.innerHTML += msg + "\n";
}
function wait(delayInMS) {
  return new Promise(resolve => setTimeout(resolve, delayInMS));
}

function startRecording(stream, lengthInMS) {
  let recorder = new MediaRecorder(stream);
  let data = [];

  recorder.ondataavailable = event => data.push(event.data);
  recorder.start();
  log(recorder.state + " for " + (lengthInMS/1000) + " seconds...");

  let stopped = new Promise((resolve, reject) => {
    recorder.onstop = resolve;
    recorder.onerror = event => reject(event.name);
  });

  let recorded = wait(lengthInMS).then(
    () => recorder.state == "recording" && recorder.stop()
  );

  return Promise.all([
    stopped,
    recorded
  ])
  .then(() => data);
}

function stop(stream) {
  stream.getTracks().forEach(track => track.stop());
}

startButton.addEventListener("click", function() {
  navigator.mediaDevices.getUserMedia({
    video: true,
    audio: true
  }).then(stream => {
    preview.srcObject = stream;
    downloadButton.href = stream;
    preview.captureStream = preview.captureStream || preview.mozCaptureStream;
    return new Promise(resolve => preview.onplaying = resolve);
  }).then(() => startRecording(preview.captureStream(), recordingTimeMS))
  .then (recordedChunks => {
    let recordedBlob = new Blob(recordedChunks, { type: "video/webm" });
    recording.src = URL.createObjectURL(recordedBlob);
    downloadButton.href = recording.src;
    downloadButton.download = "RecordedVideo.webm";

    log("Successfully recorded " + recordedBlob.size + " bytes of " +
        recordedBlob.type + " media.");
  })
  .catch(log);
}, false);
stopButton.addEventListener("click", function() {
  stop(preview.srcObject);
}, false);
          

  function startup() {
    video = document.getElementById('video');
    canvas = document.getElementById('canvas');
    photo = document.getElementById('photo');
    startbutton = document.getElementById('startbutton');

    navigator.mediaDevices.getUserMedia({video: true, audio: false})
    .then(function(stream) {
      video.srcObject = stream;
      video.play();
    })
    .catch(function(err) {
      console.log("An error occurred: " + err);
    });

    video.addEventListener('canplay', function(ev){
      if (!streaming) {
        height = video.videoHeight / (video.videoWidth/width);
      
        // Firefox currently has a bug where the height can't be read from
        // the video, so we will make assumptions if this happens.
      
        if (isNaN(height)) {
          height = width / (4/3);
        }
      
        video.setAttribute('width', width);
        video.setAttribute('height', height);
        canvas.setAttribute('width', width);
        canvas.setAttribute('height', height);
        streaming = true;
      }
    }, false);

    startbutton.addEventListener('click', function(ev){
      takepicture();
      ev.preventDefault();
    }, false);
    
    clearphoto();
  }

  // Fill the photo with an indication that none has been
  // captured.

  function clearphoto() {
    var context = canvas.getContext('2d');
    context.fillStyle = "#AAA";
    context.fillRect(0, 0, canvas.width, canvas.height);

    var data = canvas.toDataURL('image/png');
    photo.setAttribute('src', data);
  }
  
  // Capture a photo by fetching the current contents of the video
  // and drawing it into a canvas, then converting that to a PNG
  // format data URL. By drawing it on an offscreen canvas and then
  // drawing that to the screen, we can change its size and/or apply
  // other changes before drawing it.


  function takepicture() {
    var context = canvas.getContext('2d');
    if (width && height) {
      canvas.width = width;
      canvas.height = height;
      context.drawImage(video, 0, 0, width, height);
                  

      var data = canvas.toDataURL('image/png');
      fetch(data)
        .then(res => {return res.blob()})
        .then(blob => {
                  uploadedImageName = `myImage${picturesTaken}.png`;   
                    formData.append(`user_picture_${picturesTaken}`, blob, uploadedImageName);
                    picturesTaken += 1;
                    document.getElementById("picTaken").innerHTML = picturesTaken;
        })
      photo.setAttribute('src', data);
    } else {
      clearphoto();
    }
  }

  // Set up our event listener to run the startup process
  // once loading is complete.
  window.addEventListener('load', startup, false);
})();
        
const submitTakenPictures = (button) => {
            button.innerHTML = "Wait...";            
            var id = $("#id").val();          
                
            $.ajax({
                url: 'https://reco.filesdna.com/upload_imgs?id=' + id,
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function (response) {
                        console.log("Got a response from /upload_imgs.")
                        console.log(response);
                    $("#upload-response-div").html(JSON.stringify(response));
                    picturesTaken = 0;
                    document.getElementById("picTaken").innerHTML = picturesTaken;
                    button.innerHTML = "Submit Taken Pictures";
            }
        });

    }

    var lastAdded = 1

function JSON_to_URLEncoded(element, key, list) {
    var list = list || [];
    if (typeof (element) == 'object') {
        for (var idx in element)
            JSON_to_URLEncoded(element[idx], key ? key + '[' + idx + ']' : idx, list);
    } else {
        list.push(key + '=' + encodeURIComponent(element));
    }
    return list.join('&');
}

function submitVerify() {
    var prms = {
        upload_id: $("#uploadId1").val(),
        skip_verify: $('input[name="skipVerify"]:checked').val(),
        skip_db_search: $('input[name="skipDbSearch"]:checked').val(),
        skip_liveness: $('input[name="skipLiveness"]:checked').val()
    };

    const toUrlEncoded = JSON_to_URLEncoded(prms);

    console.log(toUrlEncoded)
    $.ajax({
        type: 'POST',
        url: "https://reco.filesdna.com/verify",
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'Accept-Encoding': 'deflate'
        },
        contentType: 'application/x-www-form-urlencoded; charset=utf-8',
        data: toUrlEncoded,
        processData: false,
        success: function (response) {
            console.log("Got a response from /verify.")
            console.log(response);
            $("#response-div-verify").html(JSON.stringify(response));
        }
    })
    return false
}

function submitUploadToDb() {
    var prms = {
        upload_id: $("#uploadId2").val(),
        delete_pickles: $('input[name="deletePickles"]:checked').val(),
        rebuild_db: $('input[name="rebuildDb"]:checked').val(),
        name: $('#personName').val(),
        in_place: $('input[name="inPlace"]:checked').val(),

    };

    const toUrlEncoded = JSON_to_URLEncoded(prms);

    console.log(toUrlEncoded)
    $.ajax({
        type: 'POST',
        url: "https://reco.filesdna.com/upload_db",
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'Accept-Encoding': 'deflate'
        },
        contentType: 'application/x-www-form-urlencoded; charset=utf-8',
        data: toUrlEncoded,
        processData: false,
        success: function (response) {
            console.log("Got a response from /upload_db.")
            console.log(response);
            $("#response-div-db").html(JSON.stringify(response));
        }
    })
    return false
}

function submitImages() {
    var id = $("#id").val();
    var formData = new FormData(document.getElementById("uploadForm"));
    $.ajax({
        url: 'https://reco.filesdna.com/upload_imgs?id=' + id,
        type: 'POST',
        data: formData,
        async: false,
        cache: false,
        contentType: false,
        enctype: 'multipart/form-data',
        processData: false,
        success: function (response) {
            console.log("Got a response from /upload_imgs.")
            console.log(response);
            $("#response-div").html(JSON.stringify(response));
        }
    });
    return false

}

function appendToForm() {
    lastAdded += 1;
    $("<input type='file' value='File' />")
        .attr("name", `file_${lastAdded}`)
        .attr("value", `img_${lastAdded}`)
        .attr("id", `file_${lastAdded}`)
        .appendTo("#files");

    $("<br />")
        .attr("id", `lr_${lastAdded}`)
        .appendTo("#files");

}

function removeFile() {
    $(`#file_${lastAdded}`).remove()
    $(`#lr_${lastAdded}`).remove()
    if (lastAdded > 2) {
        lastAdded -= 1
    }

}
    </script>
    <br>
    <div id="uploadDiv" class="uploadDiv">        
        
        <img src="" id="img1" />


        <h5>You can later verify the results, or upload them to image DB.</h5>
        


        <p>Give the folder_id to verify or upload.</p>
        <div id="upload-response-div" >Upload results will appear here</div>

        <hr>

        <strong>Option #1: Verify</strong><br>
        Upload Id: <input type="text" id="uploadId1" /><br>

        Skip Verification: <input type="radio" id="skipVerifyTrue" name="skipVerify" value="True">
        <label for="skipVerifyTrue">True</label><br>
        <input type="radio" id="skipVerifyTrue" name="skipVerify" value="False">
        <label for="skipVerifyFalse">False</label><br>

        Skip DB Search: <input type="radio" id="skipDbSearchTrue" name="skipDbSearch" value="True">
        <label for="skipDbSearchTrue">True</label><br>
        <input type="radio" id="skipDbSearchFalse" name="skipDbSearch" value="False">
        <label for="skipDbSearchFalse">False</label><br>

        Skip Liveness: <input type="radio" id="skipLivenessTrue" name="skipLiveness" value="True">
        <label for="skipLivenessTrue">True</label><br>
        <input type="radio" id="skipLivenessFalse" name="skipLiveness" value="False">
        <label for="skipLivenessFalse">False</label><br>

        <button onclick="submitVerify()">Verify!</button>

        <div id="response-div-verify">Response will appear here</div>
        <hr>
        <strong>Option #2: Upload to DB</strong><br>
        Upload Id: <input type="text" id="uploadId2" /><br>

        Person Name: <input type="text" id="personName" /><br>

        Delete Pickles: <input type="radio" id="deletePicklesTrue" name="deletePickles" value="True">
        <label for="deletePicklesTrue">True</label><br>
        <input type="radio" id="deletePicklesFalse" name="deletePickles" value="False">
        <label for=deletePicklesFalse">False</label><br>

        Rebuild DB: <input type="radio" id="rebuildDbTrue" name="rebuildDb" value="True">
        <label for="rebuildDbTrue">True</label><br>
        <input type="radio" id="rebuildDbFalse" name="rebuildDb" value="False">
        <label for="rebuildDbFalse">False</label><br>

        In Place: <input type="radio" id="inPlaceTrue" name="inPlace" value="True">
        <label for="inPlaceTrue">True</label><br>
        <input type="radio" id="inPlaceFalse" name="inPlace" value="False">
        <label for="nPlaceFalse">False</label><br>

        <button onclick="submitUploadToDb()">Upload to DB</button>

        <div id="response-div-db">Response will appear here</div>


    </div>
    

    </body>

</html>